@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

.myback{
    background-color: lightcoral;
}

.head
{
    font-family:monospace;
    font-size:40px;
    color:red;
}

.head1
{
    font-family:'Franklin Gothic Medium';
    font-size:30px;
    color:cyan;
}

